
.page-divider {
    margin: 20px 0 10px 0;
    border: 0;
    border-top: 1px solid #eee;
}

.hr {
    margin-top: 25px;
    margin-bottom: 25px;
}

.center {
    display: table;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}


.remover {
    color: #d00;
    text-decoration: underline;
}

.disable-mask {
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.6;
    position: absolute;
    background: #999;
    z-index: 1000;
    top: -0.5px;
}

.alert_placeholder {
    height: 45px;
}

.branch-selector {
    max-height: 300px;
    overflow: auto;
}

.keep-space {
    margin-left: 10px;
    margin-right: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}


.blame-code {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    background: none;
}

.blame-info {
    width: 300px;
}

/* override bootstrap */
@media print {
    a[href]:after {
        content: none !important;
    }
}

.breadcrumb {
    padding: 8px 15px;
    margin: 0 0 20px;
    list-style: none;
    background-color: #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

img {
    max-width: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic
}

.navbar .brand { display: block; float: left; padding: 10px 20px 10px; margin-left: -20px; font-size: 20px; font-weight: 200; color: #777; text-shadow: 0 1px 0 #fff; }
.navbar .profile-pic img { width: 18px; }
.navbar  .nav > li > a {  text-shadow: none;}


.project-title { line-height:20px; }
.create-time { color: #888; font-weight: normal; font-size: 13px; }
.repo-stats li { float: left; background: #ffffff; border: 1px solid #d3d3d3; color: #666666; list-style-type: none; }
    .repo-stats li a { display: inline-block; font-size: 13px; font-weight: bold; padding: .2em .5em; }
        .repo-stats li a:hover { color: #FFFFFF; background-color: #4183c4; }
.repo-stats .star { border-top-left-radius: 4px; border-bottom-left-radius: 4px; margin-right: 0; }
.repo-stats .fork { border-top-right-radius: 4px; border-bottom-right-radius: 4px; margin-left: 0; border-left: 0; }